<h1>Hi <%= user.name %>!</h1>
<h1>Reset Password</h1><br>
<p>Click on this link to reset your password</p>
<a href="http://localhost:8000/users/reset-password/<%= auth_token %>">Reset Your Password!</a>