<nav class="footer-section justify-content-center w-100 navbar navbar-light bg-white">
    <div class="d-flex align-items-center gap-2">
        <span class="navbar-text">
            Empowering Coders to Voice the Latest Trends!
        </span>
    </div>
</nav>