<h1>Confirm Your Email Address</h1>

<form action="/users/reset-password/confirm-email" method="POST">
    <input type="email" name="email" id="" placeholder="Confirm Email Address">
    <input type="submit" value="Confirm Email">
</form>