<div class="single-wrapper">
    <h1 class="mb-1">
        Reset Password
    </h1>
    
    <form action="/users/reset-password/change-password/<%= auth._id %>" method="Post">
        <input type="password" name="changepassword" id="changedpassword" placeholder="Password">
        <input type="password" name="confirmpassword" id="confirmPassword" placeholder="Confirm Password">
        <input type="submit" value="Change Password">
    </form>
</div>