<div class="single-wrapper">
    <h1>Sign In</h1>
    <form action="/users/user-check" method="POST">
        <input type="text" email="email" name="email" placeholder="Enter your Email">
        <input type="password" name="password" placeholder="Enter password">
        <input type="submit" value="Login">
    </form>
    
    <div class="d-flex gap-3 align-items-center justify-content-center">
        <a class="action-btn text-black bg-white" href="/users/auth/google">Sign In with Google</a><br><br>
        <a class="action-btn forgot-pass-btn text-black bg-white" href="/users/forgot-password">Forgot Password?</a>
    </div>
</div>